<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.MemberMapper">
	<insert id="regist">
		insert into tbl_user (uid, email, upw, uname) values(#{uid}, #{email}, #{upw}, #{uname})
	</insert>
	<insert id="registleave">
		insert into tbl_leave(uid, uname) values(#{uid}, #{uname})
	</insert>
	<select id="find" resultType="MemberVO">
  select uid, upw from tbl_user where email = #{email}
    </select>
    <select id="findnick" resultType="MemberVO">
  select uname from tbl_user where uname= #{uname}
    </select>
    <delete id="delete">
		delete from tbl_user where upw = #{upw} and uid = #{uid}
	</delete>
	<select id="select" resultType="MemberVO">
  select uid, upw from tbl_user where uid = #{uid}
    </select>
    <select id="leave" resultType="MemberVO">
  select uid from tbl_leave where uid = #{uid}
    </select>
    <select id="nickleave" resultType="MemberVO">
  select uname from tbl_leave where uname = #{uname}
    </select>
</mapper>
