<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.QuickMapper">
	<select id="read" resultType="org.zerock.domain.QuickVO">
 <![CDATA[
 select 
   bno, title, content, writer, regdate, viewcnt 
 from 
   tbl_qnaboard
 where bno > 0 
 order by bno desc, regdate desc
 ]]>
	</select>
</mapper>
